{% extends 'base.html' %}

{% block title %} User Detail {% endblock %}


{% block content %}

<h1>
  User: {{ user.first_name }} {{ user.last_name }}
</h1>

{% if user.image_url %}
   <img src="{{ user.image_url }}" alt="dummy">
{% endif %}

<button> <a href="/users/{{ user.id }}/edit"> Edit</a></button>

<form method="POST", action ="/users/{{ user.id }}/delete">
  <button> Delete </button>
</form>

<h3> Posts</h3>
<div>
  <ul>
    {% for post in posts %}
      <li>
        <a href="/posts/{{ post.id }}">
          {{ post.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>

<button> <a href="/users/{{ user.id }}/posts/new"> Add Post</a></button>

{% endblock %}